<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SerialTool.Properties.Settings>
            <setting name="cboPortText" serializeAs="String">
                <value />
            </setting>
            <setting name="cboBaudRateText" serializeAs="String">
                <value />
            </setting>
            <setting name="cboDataBitsText" serializeAs="String">
                <value />
            </setting>
            <setting name="cboStopBitsText" serializeAs="String">
                <value />
            </setting>
            <setting name="cboCheckText" serializeAs="String">
                <value />
            </setting>
            <setting name="tbxTIText" serializeAs="String">
                <value />
            </setting>
        </SerialTool.Properties.Settings>
    </userSettings>
</configuration>